.nav-header .nav-header-btn:before {
  content: "";
}

.nav-header {
  display: table-row;
  width: 100%;
}

.nav-header {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #ffe600;
  border: 0;
  position: relative;
}

.nav-header .ml-count {
  font-weight: 600;
}

.nav-header-visually-hidden {
  position: absolute;
  z-index: -1;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  display: block;
}

.nav-bounds .nav-header-notifications-badge {
  display: none;
}

.nav-bounds .nav-header-menu-wrapper > .nav-header-notifications-badge {
  display: none;
}

/* .nav-header .nav-header-btn {
    background-color: #ffe600;
    background: none;
    border: 0;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8980392157);
    border-bottom: 0 solid #fff;
    cursor: default;
    position: absolute;
    top: 3px;
    left: 0;
    padding: 20px;
    text-indent: -200%;
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    height: 56px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  } */
/* 
  .nav-header .nav-header-btn:before {
    font-family: navigation;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8980392157);
    position: absolute;
    left: 10px;
    top: 10px;
    text-indent: 0;
    height: 56px;
  }
  
  .nav-header .nav-header-btn--no-arrow {
    text-indent: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    left: 10px;
    top: 10px;
  }
  
  .nav-header .nav-header-btn--no-arrow:before {
    display: none;
  } */

.nav-header .nav-cart {
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-header .nav-bounds {
  display: flex;
  position: relative;
  padding: 8px 10px;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

/* .nav-header.nav-header-sticky + main > .nav-bounds,
.nav-header.nav-header-sticky + main > .nav-main-content,
.nav-header.nav-header-sticky ~ main > .nav-bounds,
.nav-header.nav-header-sticky ~ main > .nav-main-content {
  padding-top: 56px;
} */

.nav-header,
.nav-header *,
.nav-header *:before,
.nav-header *:after {
  box-sizing: border-box;
}

.nav-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-bounds .nav-header-cp-anchor {
  display: none;
}

/* Nav header menu */
#nav-header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 20px;
  min-height: initial;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0);
}

#nav-header-menu:first-child {
  border-left: none;
}

#nav-header-menu a {
  position: relative;
  display: flex;
  height: auto;
  color: rgba(0, 0, 0, 0.8980392157);
  text-decoration: none;
  padding: 0;
  line-height: 18px;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

#nav-header-menu a [class^="nav-icon-"]:before,
#nav-header-menu a [class*=" nav-icon-"]:before {
  display: inline-block;
}

#nav-header-menu a:hover {
  color: #000;
}

#nav-header-menu a:hover i:before {
  color: #000;
}

#nav-header-menu a:first-child  {
  border-top-color: #fff;
}

#nav-header-menu a.notifications-widget,
#nav-header-menu a.option-help,
#nav-header-menu a.option-register,
#nav-header-menu a.bookmarks-widget {
  border-left: none;
}

#nav-header-menu a .option-help {
  padding-right: 16px;
}

#nav-header-menu a.option-sell {
  display: none;
}

#nav-header-menu a.bookmarks-widget {
  padding-left: 0;
  display: inline;
}

#nav-header-menu a.option-cart {
  display: inline;
  border-left: 1px solid rgba(51, 51, 51, 0.2);
}

#nav-header-menu a.option-bookmarks {
  position: static;
}

#nav-header-menu a.option-bookmarks .bookmarks-text {
  display: flex;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  padding-right: 14px;
}

#nav-header-menu a.option-bookmarks .bookmarks-text:after {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  bottom: 6px;
  right: 2px;
  position: absolute;
  padding: 2px;
}

#nav-header-menu i:before {
  color: rgba(0, 0, 0, 0.8980392157);
  vertical-align: middle;
  font-size: 16px;
}

#nav-header-menu i.nav-icon-help:before {
  font-size: 17px;
}

#nav-header-menu i span {
  font-size: 14px;
}

#nav-header-menu [data-country="BR"] #nav-header-menu .nav-icon-help:before {
  display: none;
}

#nav-header-menu [data-country="BR"] #nav-header-menu .nav-icon-help span {
  display: inline-block;
}

#nav-header-menu .nav-header-menu-list {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

#nav-header-menu .nav-header-menu-list__item {
  display: flex;
  align-items: flex-end;
}

#nav-header-menu .nav-header-menu-list__item > a {
  margin-left: 22px;
}

#nav-header-menu .nav-header-menu-list__item > a:last-child {
  margin-right: 22px;
}

#nav-header-menu .nav-icon-user {
  line-height: 20px;
  pointer-events: none;
}

#nav-header-menu .nav-icon-user:before {
  content: "";
  margin: 0;
  vertical-align: top;
  font-size: 20px;
  background-color: #ffe600;
  z-index: 1;
  position: relative;
}

.nav-header-avatar-user {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  position: relative;
  margin-right: 6px;
}

.nav-header-avatar-user-img {
  vertical-align: top;
  max-width: 100%;
  border-radius: 50%;
}

.nav-header-username {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.nav-header-usermenu-wrapper {
  display: flex;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  padding-right: 14px;
  align-items: flex-end;
}

.nav-header-username-chevron {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  bottom: 6px;
  right: 2px;
  position: absolute;
  padding: 2px;
}

.nav-header-search-chevron {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 7px;
  transform: rotate(45deg);
  width: 7px;
  color: #333;
  margin: 0 12px;
  margin-top: -3px;
}

.nav-header-user-myml {
  padding: 0;
  line-height: 18px;
  font-size: 0;
  border-left: none;
  display: block;
}

#nav-header-user-switch {
  display: none;
}

#nav-header-user-switch:checked + .nav-header-user-layer {
  display: block;
}

.nav-header-user-layer {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(99, 99, 99, 0.2);
  right: 0;
  position: absolute;
  top: 32px;
  z-index: 3;
  width: 150px;
  display: none;
}

.nav-header-user-layer:before,
.nav-header-user-layer:after {
  border: outset rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  bottom: 100%;
  content: "";
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.nav-header-user-layer:before {
  border-bottom-color: #dedede;
  border-width: 10px;
  right: 4px;
}

.nav-header-user-layer:after {
  border-bottom-color: #fff;
  border-width: 9px;
  right: 5px;
}

#nav-header-menu .nav-header-user-layer a {
  color: #000;
  display: block;
  line-height: 25px;
  margin: 3px 0;
  padding: 5px 15px;
  text-decoration: none;
  border-left: none;
}

#nav-header-menu .nav-header-user-layer a:last-child {
  display: block;
}

#nav-header-menu .nav-header-user-layer a:hover {
  color: #000;
  background-color: #fefbd6;
}

.nav-logo {
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("/public/images/header/logo_25_años.png");
  height: 34px;
  width: 134px;
  display: flex;
  position: static;
  left: 0;
  top: 0;
  background-size: contain;
}

.nav-header-has-search-active input[type="text"].nav-search-input:focus,
.nav-header-has-search-active input[type="search"].nav-search-input:focus {
  color: #666;
  box-shadow: none;
}

.nav-header-has-search-active input[type="text"].nav-search-input,
.nav-header-has-search-active input[type="search"].nav-search-input {
  padding-right: 45px;
}

.nav-header-has-search-active input[type="text"].nav-search-input:focus,
.nav-header-has-search-active input[type="search"].nav-search-input:focus {
  border-style: solid;
  border-color: #3483fa;
  border-width: 1.5px;
}

.nav-header-has-search-active button.nav-search-btn,
.nav-header-has-search-active button.nav-search-btn:focus {
  display: none;
}

.nav-header-has-search-active .nav-search:before,
.nav-header-has-search-active .nav-search .nav-search-close-btn {
  display: none;
}

.nav-header-has-search-active button.nav-search-btn,
.nav-header-has-search-active button.nav-search-btn:focus {
  display: inline-block;
}

.nav-header-plus .nav-bounds {
  display: grid;
  grid-template-areas: "nav-left-top nav-center-top nav-right-top" "nav-left-bottom nav-center-bottom nav-right-bottom";
  grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
  grid-template-rows: 40px 28px;
  column-gap: 20px;
  grid-column-gap: 20px;
  row-gap: 12px;
  grid-row-gap: 12px;
  padding: 8px 10px 12px 10px;
}

.nav-header-plus .nav-area {
  display: flex;
  flex-direction: row;
}

.nav-header-plus .nav-top-area {
  height: 40px;
  align-items: center;
}

.nav-header-plus .nav-bottom-area {
  height: 28px;
  align-items: flex-end;
}

.nav-header-plus .nav-left-area {
  justify-content: flex-start;
}

.nav-header-plus .nav-right-area {
  justify-content: flex-end;
}

.nav-header-plus .nav-left-area.nav-top-area {
  grid-area: nav-left-top;
}

.nav-header-plus .nav-left-area.nav-top-area:hover {
  z-index: 999;
}

.nav-header-plus .nav-center-area.nav-top-area {
  grid-area: nav-center-top;
}

.nav-header-plus .nav-right-area.nav-top-area {
  grid-area: nav-right-top;
}

.nav-header-plus .nav-left-area.nav-bottom-area {
  grid-area: nav-left-bottom;
  font-weight: 400;
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a {
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:link,
.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:visited {
  color: rgba(0, 0, 0, 0.8980392157);
  font-weight: inherit;
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:hover,
.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:active {
  color: #111;
}

.nav-header-plus .nav-center-area.nav-bottom-area {
  grid-area: nav-center-bottom;
  padding: 4px;
  margin: -4px;
  height: 36px;
  overflow: hidden;
}

.nav-header-plus .nav-right-area.nav-bottom-area {
  grid-area: nav-right-bottom;
}

.nav-header-pluslite {
  height: 48px;
}

.nav-header-pluslite:before {
  height: 48px;
}

.nav-header-pluslite .nav-bounds {
  justify-content: space-between;
  align-items: center;
}

.nav-header-lite-extended {
  height: 60px;
}

.nav-header-lite-extended:before {
  height: 60px;
}

.nav-header-lite-extended .nav-bounds {
  justify-content: space-between;
  align-items: center;
}

.nav-header-lite-extended .nav-bounds .nav-header-menu-wrapper {
  display: flex;
}

.nav-header-lite-extended .nav-bounds .nav-search {
  margin-right: 22px;
  width: initial;
  flex: 1;
}

.nav-header-lite-extended .nav-bounds .nav-header-left-size {
  display: flex;
  flex: 1;
}

.nav-header-lite-extended .nav-bounds .nav-header-left-size .nav-header-logo {
  margin-right: 22px;
}

.nav-header-plusclean {
  height: 48px;
}

.nav-header-plusclean:before {
  height: 48px;
}

.nav-header-plusclean .nav-bounds {
  justify-content: flex-start;
  align-items: center;
}

[role="main"] .nav-bounds {
  box-sizing: border-box;
}

[role="main"] .nav-bounds[class*="ch-box-"] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.nav-bounds {
  display: block;
  padding: 0 10px;
  margin: 0 auto;
}

.nav-bounds.nav-bounds-with-cart .nav-cart .nav-icon-cart-quantity > b {
  font-weight: inherit;
}

.nav-bounds {
  max-width: 1220px;
}

.nav-bounds a.option-notifications.notifications-widget.modeless-box-trigger {
  position: relative;
}

.nav-bounds
  a.option-notifications.notifications-widget.modeless-box-trigger
  .nav-icon-notifications {
  display: flex;
  align-items: flex-end;
  position: static;
  height: 20px;
}

.nav-bounds
  a.option-notifications.notifications-widget.modeless-box-trigger
  .ml-count {
  top: -6px;
  right: -6px;
}

.nav-bounds .nav-cart {
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 22px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}

.nav-bounds .nav-cart.nav-cart-full .nav-icon-cart:before {
  content: "";
}

.nav-bounds .nav-cart.nav-cart-empty .nav-icon-cart:before {
  content: "";
}

.nav-bounds .nav-cart:hover .nav-icon-cart-quantity {
  color: #000;
}

.nav-bounds .nav-cart:hover :before {
  color: #000;
}

.nav-bounds .nav-cart :before {
  line-height: 27px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-bounds .nav-cart .nav-icon-cart {
  display: flex;
  align-items: flex-end;
  position: static;
  width: 22px;
  height: 20px;
  font-size: 13px;
}

.nav-bounds .nav-cart .nav-icon-cart::after {
  display: block;
  position: absolute;
  top: -50px;
  left: -38px;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0, 0);
  opacity: 0;
}

.nav-bounds .nav-cart .nav-icon-cart::before {
  width: 22px;
  height: 18px;
  line-height: 18px;
}

.nav-bounds .nav-cart .nav-icon-cart-quantity {
  display: inline-block;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.8980392157);
  position: absolute;
  font-size: 11px;
  top: -4px;
  left: 2px;
  width: 22px;
  text-align: center;
}

.nav-bounds .nav-cart .nav-icon-cart-quantity > b {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.nav-bounds .nav-icon-quantity--changing .nav-icon-cart:after {
  animation: pseudo-ripple 0.45s ease-out;
}

.nav-bounds
  .nav-icon-quantity--changing
  .nav-icon-cart-quantity
  > b:not(:last-child) {
  animation: fade-out-number 0.15s ease-out;
}

.nav-bounds
  .nav-icon-quantity--changing
  .nav-icon-cart-quantity
  > b:last-child {
  animation-name: fade-in-number, jump-in-number;
  animation-duration: 0.12s, 0.45s;
  animation-timing-function: linear, linear;
}

.nav-bounds .nav-menu-cp {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 0 0 24px;
  text-decoration: none;
  border: none;
}

.nav-bounds .nav-menu-cp:hover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6px;
  left: -8px;
  padding: 6px 8px 4px 8px;
  box-sizing: content-box;
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.nav-bounds .nav-menu-cp:before {
  font-family: navigation;
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
}

.nav-bounds .nav-menu-cp .nav-menu-link-cp {
  display: inline-block;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  margin: 0;
  color: rgba(0, 0, 0, 0.8980392157);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-guest {
  height: 20px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-guest:before {
  content: "";
  font-size: 18px;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-guest .nav-menu-link-cp {
  padding: 0;
  line-height: 18px;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-logged {
  height: 28px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-logged .nav-menu-link-cp {
  padding: 0 0 2px 0;
  line-height: 14px;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-logged .nav-menu-cp-send {
  position: static;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  left: 0;
  padding: 0;
  margin: 0;
  line-height: 12px;
}

.nav-bounds .nav-menu-cp.nav-menu-cp-logged:before {
  content: "";
  font-size: 23px;
}

@media (max-width: 1200px) {
  .nav-bounds .nav-menu .nav-menu-list .nav-menu-item:nth-last-child(3) {
    display: none;
  }
}

@media (max-width: 1095px) {
  .nav-bounds .nav-menu .nav-menu-list .nav-menu-item:nth-last-child(4) {
    display: none;
  }
}

.nav-bounds-with-cp .nav-categs {
  left: 66px;
}

.nav-bounds-with-cp .nav-categs:before {
  left: 202px;
}

.nav-bounds-with-cp .nav-categs-detail__body-aside {
  display: none;
}

@media (max-width: 1090px) {
  .nav-bounds-with-cp .nav-categs {
    left: 56px;
    margin-left: 0;
  }
}

input[type="text"].nav-search-input,
input[type="search"].nav-search-input {
  position: relative;
  z-index: 915;
  color: rgba(0, 0, 0, 0.8980392157);
  font-size: 16px;
  margin: 0;
  font-family: inherit;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 100%;
  padding: 10px 60px 10px 15px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-width: 1.5px;
}

input[type="text"].nav-search-input:focus,
input[type="search"].nav-search-input:focus {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  outline: 0;
}

input[type="text"].nav-search-input.ch-autocomplete-loading,
input[type="search"].nav-search-input.ch-autocomplete-loading {
  background-position: right 10px center;
}

input[type="text"].nav-search-input::placeholder,
input[type="search"].nav-search-input::placeholder {
  color: rgba(0, 0, 0, 0.5490196078);
  font-size: 16px;
  font-weight: 400;
}

input[type="text"].nav-search-input:focus,
input[type="search"].nav-search-input:focus {
  border-style: solid;
  border-color: #3483fa;
  border-width: 1.5px;
}

button.nav-search-btn,
button.nav-search-btn:focus {
  position: absolute;
  z-index: 920;
  padding: 0;
  background: none;
  border: none;
  font-size: 22px;
  color: #666;
  line-height: 1em;
  border-radius: 0 2px 2px 0;
  width: 46px;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  background-image: none;
  height: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

button.nav-search-btn span,
button.nav-search-btn:focus span {
  display: none;
}

button.nav-search-btn:focus {
  border-style: solid;
  border-color: #3483fa;
  border-width: 1.5px;
}

.nav-search {
  z-index: 910;
  will-change: left;
  transition: left 0.15s ease-out;
  top: 0;
  right: 45px;
  max-width: 720px;
  left: -1px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  overflow: visible;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-search:before {
  content: none;
}

.nav-search .nav-category {
  display: block;
  background-color: #fff;
  color: #666;
  line-height: 20px;
  height: 26px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 55%;
  padding: 2px 14px;
  position: absolute;
  right: 46px;
  top: 7px;
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  box-shadow: none;
  border-top: none;
  width: auto;
  z-index: 917;
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
}

.nav-search .nav-category::before {
  content: "";
  display: block;
  height: 20px;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  left: 0;
}

.nav-search .nav-category--multi {
  color: #333;
  max-width: 248px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  padding-block: 0;
  -webkit-padding-start: 12px;
  padding-inline-start: 12px;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.nav-search .nav-category--multi:focus-visible {
  outline: 1.5px solid #3483fa;
}

.nav-search .nav-category--multi label {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.nav-search .nav-category--multi #category-label {
  overflow: hidden;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 31px);
}

.nav-search .nav-category:hover .nav-label-small {
  width: initial;
}

.nav-search .nav-category label {
  -webkit-user-select: none;
}

.nav-search .nav-category .nav-label-small {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  width: 100% !important;
}

.nav-search .nav-category input[type="checkbox"] {
  border: 1px solid #ccc;
  background: 0;
  box-shadow: none;
  display: inline-block;
  margin: 3px 5px 0 0;
  height: 14px;
  padding: 0;
  vertical-align: top;
  width: 14px;
  border-radius: 2px;
}

.nav-search .nav-category .categorySearch--multi#categorySearch {
  display: none;
}

.nav-search .nav-category-list-options {
  display: flex;
  flex-wrap: wrap;
}

@media (width >= 1024px) {
  .nav-search .nav-category-list-options {
    flex-direction: column;
  }
}

.nav-search .nav-category-content-options {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
}

.nav-search .nav-category-content-options:hover {
  background-color: #f4f1f1;
}

.nav-search .nav-category-content-options .image-option {
  margin: 0 8px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

@media (width >= 1024px) {
  .nav-search .nav-category-content-options .image-option {
    background-color: #fff;
    border: 1px solid #e1dfdf;
    margin: 0;
    margin-right: 8px;
    object-fit: contain;
  }
}

.nav-search .nav-category-content-options-desktop {
  background-color: #fff;
  border-top: solid 1px #e6e6e6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 8px 0;
  position: absolute;
  top: 40px;
  visibility: hidden;
  width: 100%;
  z-index: 1005;
}

.nav-search .nav-category-content-options-desktop input[type="radio"] {
  height: 16px;
  margin: 0 16px 0 0;
  width: 16px;
}

.nav-search .nav-category-content-options-desktop input[type="radio"] ~ label {
  cursor: inherit;
}

.nav-search.nav-search-with-sugestions input[type="text"].nav-search-input,
.nav-search.nav-search-with-sugestions input[type="search"].nav-search-input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-search-close-btn,
.nav-search-close-btn:focus {
  font-size: 22px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8980392157);
  border: 0;
  background: none;
  display: none;
  position: absolute;
  top: 0;
  z-index: 920;
  height: 48px;
  padding: 0;
  width: 48px;
}

.nav-search-close-btn,
.nav-search-close-btn:focus {
  top: 1px;
  left: -4px;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.15s ease-out;
}

.nav-search-close-btn:before,
.nav-search-close-btn:focus:before {
  content: "";
  font-family: navigation;
}

button.nav-search-btn,
button.nav-search-btn:focus {
  left: auto;
}

button.nav-search-btn:before,
button.nav-search-btn:focus:before {
  content: "";
  display: block;
  height: 20px;
  border-left: 1px solid #e6e6e6;
  position: absolute;
  top: 8.5px;
}

.nav-search-btn .nav-icon-search {
  font-size: 16px;
  line-height: 21px;
}

.nav-search-btn .nav-icon-search:before {
  content: "";
  vertical-align: top;
}

.nav-search-clear-btn {
  display: none;
}

.exhibitor__picture {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: flex-end;
}

.exhibitor__picture img {
  max-width: 340px;
  max-height: 39px;
}

.nav-menu .nav-menu-list .nav-menu-item {
  display: flex;
  align-items: flex-end;
  height: 28px;
  margin-right: 15px;
}

.nav-menu .nav-menu-list .nav-menu-item:last-child {
  margin-right: 0;
}

.nav-menu-item {
  line-height: 18px;
  font-size: 14px;
}

.nav-menu-item a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8980392157);
  transition: color 0.3s ease-out;
  font-weight: 400;
}

.nav-menu-item a:link,
.nav-menu-item a:visited {
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-menu-item a:hover,
.nav-menu-item a:active,
.nav-menu-item a:focus {
  color: rgba(51, 51, 51, 0.9);
  text-decoration: none;
}

.nav-menu-item a.nav-menu-item-link {
  position: relative;
}

.nav-menu-item a.nav-menu-item-link .nav-link-tag {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 85%;
}

.nav-menu-item .nav-menu-categories-link {
  display: flex;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  padding-right: 14px;
}

.nav-menu-item .nav-menu-categories-link:after {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  bottom: 6px;
  right: 2px;
  position: absolute;
  padding: 2px;
}

.nav-menu-item .nav-menu-categories-link:before {
  content: none;
}

.nav-menu-item .nav-categs {
  top: calc(100% - 12px);
}

[data-js="nav-menu-categories-trigger"]:before {
  content: "";
  opacity: 0;
}

[data-js="nav-menu-categories-trigger"]:hover:before {
  content: "";
  opacity: 1;
}

.nav-categs {
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: "Proxima Nova", -apple-system, "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 9px 0 0 -10px;
  max-width: 1200px;
  position: absolute;
  z-index: 10000;
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-categs:focus-visible {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.nav-categs * {
  box-sizing: border-box;
}

.nav-categs a,
.nav-categs a:link {
  color: inherit;
  text-decoration: none;
}

.nav-categs ul {
  margin: 0;
  list-style: none;
}

.nav-categs:before {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid rgba(0, 0, 0, 0);
  border-right-width: 14px;
  border-left-width: 14px;
  border-bottom: 14px solid #333;
  top: -8px;
  left: 76px;
  position: absolute;
  display: block;
}

.nav-categs:focus {
  outline: none;
}

.nav-categs--with-details {
  width: 100%;
}

.nav-categs-overlay {
  position: absolute;
  left: 0;
  opacity: 0.3;
  background-color: #333;
  width: 100%;
  height: 100%;
  height: auto;
  box-sizing: border-box;
  padding-bottom: 32px;
  z-index: 1001;
}

.nav-categs a:after {
  content: none;
}

.nav-categs[hidden],
.nav-categs-overlay[hidden] {
  display: none;
}

.nav-categs-departments {
  position: relative;
  display: inline-block;
  float: left;
  background-color: #333;
  padding: 22px 0;
  border-radius: 4px;
}

.nav-categs-departments a {
  cursor: default;
}

.nav-categs-departments a,
.nav-categs-departments a:link,
.nav-categs-departments a:visited {
  color: #fff;
  display: block;
  padding: 0 36px;
  line-height: 2.59;
  max-width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-categs-departments .nav-categs-departments__list--dynamic a {
  position: relative;
  padding-right: 44px;
}

.nav-categs-departments .nav-categs-departments__list--dynamic a:after {
  border-style: solid;
  border-width: 1.5px 1.5px 0 0;
  border-color: rgba(255, 255, 255, 0.6);
  content: "";
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  height: 7px;
  width: 7px;
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
  content: "";
  right: 34px;
}

.nav-categs-departments .nav-categs-departments__list--static a {
  cursor: pointer;
}

.nav-categs--with-details .nav-categs-departments {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.nav-categs-departments__list--static a:hover,
.nav-categs-departments__selected {
  background-color: #3483fa;
}

.nav-categs-detail {
  overflow: hidden;
  padding: 36px;
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
}

.nav-categs-detail:focus {
  outline: none;
}

.nav-categs-detail__header {
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 24px;
}

.nav-categs-detail__header div {
  font-size: 20px;
  color: #333;
  margin: 0 0 12px;
  font-weight: 400;
  line-height: 1;
}

.nav-categs-detail__categ {
  width: 192px;
  display: inline-block;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}

.nav-categs-detail__title {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 3px;
  line-height: 1.1;
}

.nav-categs-detail__title a {
  display: -webkit-box;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: inherit;
}

.nav-categs-detail__title a:hover {
  color: #3483fa;
}

.nav-categs-detail__categ-list {
  padding-left: 0;
}

.nav-categs-detail__list a {
  width: 88px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #ddd;
  float: left;
  margin: 0 8px 8px 0;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: contain;
  font-size: 0;
}

.nav-categs-detail__categ-list a,
.nav-categs-detail__categ-list a:link {
  line-height: 1.85;
  color: #666;
  font-weight: 400;
}

.nav-categs-detail__categ-list a:hover,
.nav-categs-detail__categ-list a:link:hover {
  color: #3483fa;
}

.nav-categs-detail__body {
  max-height: 550px;
  overflow-y: auto;
}

.nav-categs-detail__body:after,
.nav-categs-detail__body:before {
  display: table;
  content: "";
}

.nav-categs-detail__body:after {
  clear: both;
}

.nav-categs-detail__body-content {
  column-count: 3;
  column-gap: 36px;
  column-width: 192px;
  overflow: hidden;
  float: left;
}

.nav-categs-detail__body-aside {
  display: none;
  width: 192px;
  float: left;
  margin-left: 36px;
}

.nav-categs-detail__body-aside .nav-categs-detail__title {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .nav-categs-detail__body-content {
    max-width: 648px;
  }

  .nav-categs-detail__body-aside {
    display: block;
  }
}

