.nav-header .nav-header-btn:before {
  content: "";
}

.nav-header {
  display: table-row;
  width: 100%;
}

.nav-header {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #ffe600;
  border: 0;
  position: relative;
}

.nav-header .ml-count {
  font-weight: 600;
}

.nav-header-visually-hidden {
  position: absolute;
  z-index: -1;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  display: block;
}

.nav-bounds .nav-header-notifications-badge {
  display: none;
}

.nav-bounds .nav-header-menu-wrapper > .nav-header-notifications-badge {
  display: none;
}

/* .nav-header .nav-header-btn {
    background-color: #ffe600;
    background: none;
    border: 0;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8980392157);
    border-bottom: 0 solid #fff;
    cursor: default;
    position: absolute;
    top: 3px;
    left: 0;
    padding: 20px;
    text-indent: -200%;
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    user-select: none;
    height: 56px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  } */
/* 
  .nav-header .nav-header-btn:before {
    font-family: navigation;
    font-size: 20px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8980392157);
    position: absolute;
    left: 10px;
    top: 10px;
    text-indent: 0;
    height: 56px;
  }
  
  .nav-header .nav-header-btn--no-arrow {
    text-indent: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 10px;
    left: 10px;
    top: 10px;
  }
  
  .nav-header .nav-header-btn--no-arrow:before {
    display: none;
  } */

.nav-header .nav-cart {
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-header .nav-bounds {
  display: flex;
  position: relative;
  padding: 8px 10px;
  height: 100%;
  width: 100%;
  max-width: 1200px;
}

/* .nav-header.nav-header-sticky + main > .nav-bounds,
.nav-header.nav-header-sticky + main > .nav-main-content,
.nav-header.nav-header-sticky ~ main > .nav-bounds,
.nav-header.nav-header-sticky ~ main > .nav-main-content {
  padding-top: 56px;
} */

.nav-header,
.nav-header *,
.nav-header *:before,
.nav-header *:after {
  box-sizing: border-box;
}

.nav-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.nav-bounds .nav-header-cp-anchor {
  display: none;
}

/* Nav header menu */
#nav-header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 20px;
  min-height: initial;
  margin: 0;
  padding: 0;
  font-size: 0;
  white-space: nowrap;
  text-align: right;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0);
}

#nav-header-menu:first-child {
  border-left: none;
}

#nav-header-menu a {
  position: relative;
  display: flex;
  height: auto;
  color: rgba(0, 0, 0, 0.8980392157);
  text-decoration: none;
  padding: 0;
  line-height: 18px;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

#nav-header-menu a [class^="nav-icon-"]:before,
#nav-header-menu a [class*=" nav-icon-"]:before {
  display: inline-block;
}

#nav-header-menu a:hover {
  color: #000;
}

#nav-header-menu a:hover i:before {
  color: #000;
}

#nav-header-menu a:first-child  {
  border-top-color: #fff;
}

#nav-header-menu a.notifications-widget,
#nav-header-menu a.option-help,
#nav-header-menu a.option-register,
#nav-header-menu a.bookmarks-widget {
  border-left: none;
}

#nav-header-menu a .option-help {
  padding-right: 16px;
}

#nav-header-menu a.option-sell {
  display: none;
}

#nav-header-menu a.bookmarks-widget {
  padding-left: 0;
  display: inline;
}

#nav-header-menu a.option-cart {
  display: inline;
  border-left: 1px solid rgba(51, 51, 51, 0.2);
}

#nav-header-menu a.option-bookmarks {
  position: static;
}

#nav-header-menu a.option-bookmarks .bookmarks-text {
  display: flex;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  padding-right: 14px;
}

#nav-header-menu a.option-bookmarks .bookmarks-text:after {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  bottom: 6px;
  right: 2px;
  position: absolute;
  padding: 2px;
}

#nav-header-menu i:before {
  color: rgba(0, 0, 0, 0.8980392157);
  vertical-align: middle;
  font-size: 16px;
}

#nav-header-menu i.nav-icon-help:before {
  font-size: 17px;
}

#nav-header-menu i span {
  font-size: 14px;
}

#nav-header-menu [data-country="BR"] #nav-header-menu .nav-icon-help:before {
  display: none;
}

#nav-header-menu [data-country="BR"] #nav-header-menu .nav-icon-help span {
  display: inline-block;
}

#nav-header-menu .nav-header-menu-list {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

#nav-header-menu .nav-header-menu-list__item {
  display: flex;
  align-items: flex-end;
}

#nav-header-menu .nav-header-menu-list__item > a {
  margin-left: 22px;
}

#nav-header-menu .nav-header-menu-list__item > a:last-child {
  margin-right: 22px;
}

#nav-header-menu .nav-icon-user {
  line-height: 20px;
  pointer-events: none;
}

#nav-header-menu .nav-icon-user:before {
  content: "";
  margin: 0;
  vertical-align: top;
  font-size: 20px;
  background-color: #ffe600;
  z-index: 1;
  position: relative;
}

.nav-header-avatar-user {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  position: relative;
  margin-right: 6px;
}

.nav-header-avatar-user-img {
  vertical-align: top;
  max-width: 100%;
  border-radius: 50%;
}

.nav-header-username {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.nav-header-usermenu-wrapper {
  display: flex;
  line-height: 18px;
  box-sizing: border-box;
  position: relative;
  padding-right: 14px;
  align-items: flex-end;
}

.nav-header-username-chevron {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 6px;
  transform: rotate(45deg);
  width: 6px;
  color: rgba(0, 0, 0, 0.3);
  margin: 0;
  bottom: 6px;
  right: 2px;
  position: absolute;
  padding: 2px;
}

.nav-header-search-chevron {
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: "";
  display: inline-block;
  height: 7px;
  transform: rotate(45deg);
  width: 7px;
  color: #333;
  margin: 0 12px;
  margin-top: -3px;
}

.nav-header-user-myml {
  padding: 0;
  line-height: 18px;
  font-size: 0;
  border-left: none;
  display: block;
}

#nav-header-user-switch {
  display: none;
}

#nav-header-user-switch:checked + .nav-header-user-layer {
  display: block;
}

.nav-header-user-layer {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(99, 99, 99, 0.2);
  right: 0;
  position: absolute;
  top: 32px;
  z-index: 3;
  width: 150px;
  display: none;
}

.nav-header-user-layer:before,
.nav-header-user-layer:after {
  border: outset rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  bottom: 100%;
  content: "";
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
}

.nav-header-user-layer:before {
  border-bottom-color: #dedede;
  border-width: 10px;
  right: 4px;
}

.nav-header-user-layer:after {
  border-bottom-color: #fff;
  border-width: 9px;
  right: 5px;
}

#nav-header-menu .nav-header-user-layer a {
  color: #000;
  display: block;
  line-height: 25px;
  margin: 3px 0;
  padding: 5px 15px;
  text-decoration: none;
  border-left: none;
}

#nav-header-menu .nav-header-user-layer a:last-child {
  display: block;
}

#nav-header-menu .nav-header-user-layer a:hover {
  color: #000;
  background-color: #fefbd6;
}

.nav-logo {
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -999px;
  background-image: url("/public/images/header/logo_25_años.png");
  height: 34px;
  width: 134px;
  display: flex;
  position: static;
  left: 0;
  top: 0;
  background-size: contain;
}

.nav-header-has-search-active input[type="text"].nav-search-input:focus,
.nav-header-has-search-active input[type="search"].nav-search-input:focus {
  color: #666;
  box-shadow: none;
}

.nav-header-has-search-active input[type="text"].nav-search-input,
.nav-header-has-search-active input[type="search"].nav-search-input {
  padding-right: 45px;
}

.nav-header-has-search-active input[type="text"].nav-search-input:focus,
.nav-header-has-search-active input[type="search"].nav-search-input:focus {
  border-style: solid;
  border-color: #3483fa;
  border-width: 1.5px;
}

.nav-header-has-search-active button.nav-search-btn,
.nav-header-has-search-active button.nav-search-btn:focus {
  display: none;
}

.nav-header-has-search-active .nav-search:before,
.nav-header-has-search-active .nav-search .nav-search-close-btn {
  display: none;
}

.nav-header-has-search-active button.nav-search-btn,
.nav-header-has-search-active button.nav-search-btn:focus {
  display: inline-block;
}

.nav-header-plus .nav-bounds {
  display: grid;
  grid-template-areas: "nav-left-top nav-center-top nav-right-top" "nav-left-bottom nav-center-bottom nav-right-bottom";
  grid-template-columns: 162px minmax(340px, 588px) minmax(350px, 390px);
  grid-template-rows: 40px 28px;
  column-gap: 20px;
  grid-column-gap: 20px;
  row-gap: 12px;
  grid-row-gap: 12px;
  padding: 8px 10px 12px 10px;
}

.nav-header-plus .nav-area {
  display: flex;
  flex-direction: row;
}

.nav-header-plus .nav-top-area {
  height: 40px;
  align-items: center;
}

.nav-header-plus .nav-bottom-area {
  height: 28px;
  align-items: flex-end;
}

.nav-header-plus .nav-left-area {
  justify-content: flex-start;
}

.nav-header-plus .nav-right-area {
  justify-content: flex-end;
}

.nav-header-plus .nav-left-area.nav-top-area {
  grid-area: nav-left-top;
}

.nav-header-plus .nav-left-area.nav-top-area:hover {
  z-index: 999;
}

.nav-header-plus .nav-center-area.nav-top-area {
  grid-area: nav-center-top;
}

.nav-header-plus .nav-right-area.nav-top-area {
  grid-area: nav-right-top;
}

.nav-header-plus .nav-left-area.nav-bottom-area {
  grid-area: nav-left-bottom;
  font-weight: 400;
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a {
  color: rgba(0, 0, 0, 0.8980392157);
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:link,
.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:visited {
  color: rgba(0, 0, 0, 0.8980392157);
  font-weight: inherit;
}

.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:hover,
.nav-header-plus .nav-left-area.nav-bottom-area .nav-menu-item > a:active {
  color: #111;
}

.nav-header-plus .nav-center-area.nav-bottom-area {
  grid-area: nav-center-bottom;
  padding: 4px;
  margin: -4px;
  height: 36px;
  overflow: hidden;
}

.nav-header-plus .nav-right-area.nav-bottom-area {
  grid-area: nav-right-bottom;
}

.nav-header-pluslite {
  height: 48px;
}

.nav-header-pluslite:before {
  height: 48px;
}

.nav-header-pluslite .nav-bounds {
  justify-content: space-between;
  align-items: center;
}

.nav-header-lite-extended {
  height: 60px;
}

.nav-header-lite-extended:before {
  height: 60px;
}

.nav-header-lite-extended .nav-bounds {
  justify-content: space-between;
  align-items: center;
}

.nav-header-lite-extended .nav-bounds .nav-header-menu-wrapper {
  display: flex;
}

.nav-header-lite-extended .nav-bounds .nav-search {
  margin-right: 22px;
  width: initial;
  flex: 1;
}

.nav-header-lite-extended .nav-bounds .nav-header-left-size {
  display: flex;
  flex: 1;
}

.nav-header-lite-extended .nav-bounds .nav-header-left-size .nav-header-logo {
  margin-right: 22px;
}

.nav-header-plusclean {
  height: 48px;
}

.nav-header-plusclean:before {
  height: 48px;
}

.nav-header-plusclean .nav-bounds {
  justify-content: flex-start;
  align-items: center;
}
