:root {
    --transparent: transparent;
    --white: #fff;
    --black: #000;
    --black-1: #111;
    --black-2: #222;
    --black-3: #333;
    --black-4: #444;
    --base-font-color: #b3b3b3;
    --progress-bar-size: 50rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: var(--black);
    color: var(--base-font-color);
}

h1 {
    grid-area: title;
    font-size: 1.6rem;
    text-align: start;
}

h2 {
    grid-area: subtitle;
    font-size: 1.3rem;
    color: var(--base-font-color);
    text-align: start;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.transparent-button {
    display: flex;
    background-color: var(--transparent);
    border: .5px solid var(--base-font-color);
    border-radius: 10rem;
    color: var(--white);
    cursor: pointer;
    width: auto;
    padding: .5rem 1.3rem;
    margin: 0;
}

.transparent-button span {
    font-size: 1.2rem;
    font-weight: 700;
}

.rounded-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-radius: 50%;
    color: var(--white);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0 .8rem;
}

.rounded-button:not(.profile) > img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.rounded-button > img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.button {
    display: flex;
    gap: 1rem;
    background-color: var(--black);
    border-radius: 10rem;
    padding: 1rem 2rem;
    color: var(--white);
    height: 3.6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: .8rem;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.xs4 {
    width: .8rem !important;
    height: .8rem !important;
}

.xs3 {
    width: 1rem;
    height: 1rem;
}

.xs2 {
    width: 1.2rem;
    height: 1.2rem;
}

.xs {
    width: 1.6rem;
    height: 1.6rem;
}

.sm {
    width: 2.4rem;
    height: 2.4rem;
}

.md {
    width: 4rem;
    height: 4rem;
}

.lg {
    width: 6rem;
    height: 6rem;
}

.xl {
    width: 8rem;
    height: 8rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.opacity-05 {
    opacity: .5;
}

.space-bewteen {
    justify-content: space-between;
}

.grow {
    flex-grow: 1;
}

.justify-self-start {
    justify-self: start;
}

.justify-self-end {
    justify-self: flex-end;
}

/**********************************************/
/*                 wrapper                    */
/**********************************************/
.page-wrapper {
    display: grid;
    height: 100vh;
    gap: 1vh;
    grid-template-areas:
        "left-sidebar main-view right-sidebar"
        "now-playing-bar now-playing-bar now-playing-bar";
    position: relative;
    grid-template-columns: 3fr 8fr 3fr;
    grid-template-rows: 89vh 10vh;
}

.no-right-sidebar {
    grid-template-areas:
        "left-sidebar main-view"
        "now-playing-bar now-playing-bar";
    grid-template-columns: 3fr 8fr;
}

/**********************************************/
/*               left-sidebar                 */
/**********************************************/
.left-sidebar {
    grid-area: left-sidebar;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}

.left-sidebar > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--black-1);
    color: white;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.menu-item {
    padding:  .8rem 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
}

.menu-item > img {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
}

.albums-section {
    flex-grow: 1;
    align-content: start;
    height: 50%;
}

.albums-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: .8rem;
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.album-item {
    display: grid;
    grid-template-areas: "cover title mark" "cover subtitle mark";
}

.album-item > img, .album-item-without-image > img {
    grid-area: cover;
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1rem;
}

.album-item .green-mark, .album-item-without-image .green-mark {
    grid-area: mark;
    width: 1.6rem;
    height: 1.6rem;
    place-self: center;
    margin-left: 1rem
}

/**********************************************/
/*               main-content                 */
/**********************************************/
.main-content {
    grid-area: main-view;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--black-1);
    color: white;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    overflow: hidden;
}

.top-bar-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.grouped-content-wrapper {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: .8rem;
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.main-content-group {
    padding:  .8rem 1rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.main-content-group > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
}

.main-content-group > div:nth-child(1) h1 {
    font-size: 1.4rem;
}

.main-content-group > div:not(:nth-child(1)) {
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
}

.main-content-group > div:not(:nth-child(1)) h1 {
    font-size: 2.4rem;
    font-weight: 800;
}

.main-content-group .menu-item {
    background-color: var(--black-2);
    border-radius: .5rem;
}

.album-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.album-card {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.album-card h1 {
    font-size: 1.5rem !important;
}

.album-card > img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}


/**********************************************/
/*              now-playing                   */
/**********************************************/
.now-playing-bar {
    grid-area: now-playing-bar;
    background-color: var(--black-1);
    display: flex;
    align-items: center;
}

.now-playing-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.now-playing-wrapper > div {
    padding: 1rem;
}

.now-playing-wrapper h1 {
    color: var(--white);
}

.play-panel {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.play-panel .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.4rem;
}

.play-panel .buttons > img {
    width: 2rem;
    height: 2rem;
    opacity: .8;
}

.play-panel .buttons > img:nth-child(3) {
    width: 3.4rem;
    height: 3.4rem;
    opacity: 1;
}

.playing {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.playing span {
    font-size: 1.2rem
}

.progress-bar {
    background-color: var(--base-font-color);
    border-radius: 5px;
    min-width: var(--progress-bar-size);
    height: .5rem;
}

.progress-bar-completed {
    background-color: var(--white);
    border-radius: 5px;
    height: 100%;
}

.now-playing-bar .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    --progress-bar-size: 8rem;
}

/**********************************************/
/*               right side bar               */
/**********************************************/
.right-sidebar {
    grid-area: right-sidebar;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.right-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--black-1);
    color: white;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
    gap: .5rem;
}


.right-sidebar-wrapper h1 {
    /* margin-bottom: 1rem; */
    font-size: 1.5rem;
}

.buttons-wrapper img {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1rem;
}

.buttons-wrapper img:hover {
    cursor: pointer;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.right-sidebar-wrapper .album-item-without-image h1 {
    font-size: 2rem;
}

.album-item-without-image {
    display: grid;
    grid-template-areas: "title mark" "subtitle mark";
    margin-bottom: 1.5rem;
}

.album-item-without-image .green-mark {
    grid-area: mark;
    width: 2.1rem;
    height: 2.1rem;
    place-self: center;
    margin-left: 1rem
}

.artist-information-panel {
    display: flex;
    flex-direction: column;
    background-color: var(--black-2);
    gap: .5rem;
    border-radius: .4rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.artist-information-panel h1 {
    font-size: 1.4rem;
    font-weight: 800;
}

.artist-information-panel h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white);
}

.artist-information-panel h3 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--base-font-color);
}

.artist-information-panel h4 {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--base-font-color);
}

.artist-information-panel p {
    font-size: 1.2rem;
    color: var(--base-font-color);
}

.artist-information-panel > img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.credit-item {
    margin-bottom: 1.5rem;
 
}

.credit-item div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5rem;
}