* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

img, picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.body-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
}

header {
    color: white;
}

.promotion-banner-wrapper {
    width: 100%;
    background-color: #5624d0;
}

.promotion-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.promotion-banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0 1.6rem 2.4rem;
    width: 100%;
}

.promotion-baner-close button {
    margin: 0 1rem;
}

.font-size-1-4rem {
    font-size: 1.4rem;
}

.font-weight-700 {
    font-weight: 700;
}

.exit-button {
    margin: .8rem;
    background-color: transparent;
    color: white;
    border: none;
}

.exit-button img {
    width: 1.5rem;
    height: 1.5rem;
}

.toolbar-wrapper {
    width: 100%;
    height: 5.6rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
    z-index: 100;
}

.toolbar {
    background: white;
    padding: .4rem;
    display: flex;
}

.menu-button img {
    width: 2.4rem;
    height: 2.4rem;
}

.menu-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0 1.2rem;
    width: 4.8rem;
    height: 4.8rem;
}

.toolbar .empty-block {
    width: 4.8rem;
    height: 4.8rem;
    visibility: hidden;
}

.toolbar .logo {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.billboard-wrapper {
    min-width: 100%;
    min-height: 200px;
    margin-bottom: 4.8rem;
}

.carrousel-billboard {
    max-width: 134rem;
    min-width: 32rem;
}

.carrousel-scroll-port {
    scrollbar-width: none;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
}

.red-square {
    background-color: red;
    min-width: 100%;
    min-height: 200px;
    margin-bottom: 4.8rem;
    scroll-snap-align: start;
}

.blue-square {
    background-color: blue;
    min-width: 100%;
    min-height: 200px;
    margin-bottom: 4.8rem;
    scroll-snap-align: start;
}

.carrousel-scroll-port-container {
    display: block;
    margin: 0 auto;
    position: relative;
    min-width: 100%;
    scroll-snap-align: start;
}

.carrousel-scroll-port-container .picture-container {
    margin-bottom: 1.6rem;
}

.carrousel-scroll-port-container .picture-container picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.carrousel-scroll-port-container .picture-container picture img {
    object-fit: cover;
    height: 25rem;
    object-position: center;
    min-width: 32rem;
    max-width: 100%;
}

.carrousel-scroll-port-container .caption-container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background: #fff;
    width: 100vw;
}

.caption-container h1 {
    min-width: 32rem;
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80rem;
    font-size: 2.8rem;
    padding: 0 2.4rem;
    margin-bottom: .8rem;
    margin-top: 0;
    font-family: SuisseWorks;
}

.caption-container p {
    font-weight: 400;
    line-height: 1.4;
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 80rem;
    font-size: 1.4rem;
    padding: 0 2.4rem;
    margin: 0;
}

.carrousel-scroll-port-container .search-input-container {
    display: flex;
    flex-direction: column;
    padding: 2.8rem 2.4rem 0;
    max-width: 80rem;
    min-width: 32rem;
}

.search-input-container button {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    background-color: transparent;
    min-width: auto;
    padding: 0;
    border: 1px solid #2d2f31;
    display: flex;
    color: #6a6f73;    
}

.search-input-container button span {
    left: 1.2rem;
    position: absolute;
}

.search-input-container button img {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: .4rem;
    right: 1.2rem;
    position: absolute;
}

.carrousel-scroll-port-container .plans-button-container {
    margin-top: 1.6rem;
    flex: 1;
    display: flex;
    padding-left: 2.4rem;
    padding-bottom: 1.6rem;
}

.plans-button-container a {
    text-decoration: none;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    color: white;
    background-color: black;
}

.plans-button-container a {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
}

/********************************************
    Trusted by
********************************************/
.trusted-by-wrapper {
    background-color: #EEE;
}

.trusted-by {
    width: auto;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

.trusted-by-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    container-type: inline-size;
    padding: 4.8rem 2.4rem;
}

.trusted-by-content h2 {
    color: #6a6f73;
    font-weight: 400;
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
    max-width: 100%;
}

.company-logos ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-auto-flow: initial;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 1.6rem;
}

.company-logos ul li {
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.company-logos ul li img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/********************************************
    Wide range of courses
********************************************/
.wide-range-options-wrapper {
    margin-top: 4.8rem;
    width: auto;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
}

.wide-range-options-caption {
    width: auto;
    margin-bottom: 1.6rem;
}

.wide-range-options-caption h2 {
    font-family: 'SuisseWorks';
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.35;
    letter-spacing: -.012rem;
    max-width: 36em;
    max-width: 80rem;
}

.wide-range-options-caption p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.9rem;
    margin: 1.6rem 0 0;
    max-width: 80rem;
}

.acordeon-topic-option {
    border-top: 1px solid #d1d7dc;
}

.acordeon-topic-option-title {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.9rem;
    max-width: 36em;
    position: relative;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    min-width: auto;
    height: auto;
    color: #2d2f31 !important;
    display: block;
    text-align: left;
    white-space: normal;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.6rem 0;
}


.acordeon-topic-option-title h3 {
    font-size: inherit;
    font-weight: 400;
    max-width: 60rem;
    display: flex;
    flex: 1;
    margin: 0
}

.acordeon-topic-option-title h3 button {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.9rem;
    max-width: 36em;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    min-width: auto;
    padding: 0;
    color: #2d2f31 !important;
    display: block;
    text-align: left;
    white-space: normal;
    width: 100%;
}

.acordeon-topic-option-title img {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    color: #2d2f31;
    color: #2d2f31;
    transform: rotate(-180deg);
}

.margin-bottom {
    margin-bottom: 50px;
}

.acordeon-topic-option-content {
    padding: .8rem 0 1.6rem;
}

.acordeon-topic-option-content .courses-grid {
    scrollbar-width: none;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-auto-columns: clamp(17.3rem, 75%, 37.5rem);
    grid-auto-flow: column;
    grid-gap: 1.6rem;
}

.acordeon-topic-option-content .courses-grid .courses-grid-item-wrapper {
    min-width: .1rem;
    scroll-snap-align: start;
}

.courses-grid-item-wrapper .courses-grid-item-content {
    height: 100%;
    width: 100%;
}

.courses-grid-item-content .courses-grid-item-content-card {
    display: grid;
    position: relative;
    gap: .8rem;
    grid-template-rows: auto 1fr;
    max-width: 37.5rem;
    min-width: 17.3rem;
    height: 100%;
}

.courses-grid-item-content-card .cover {
    align-self: start;
    background-color: #2d2f31;
    border: 1px solid #d1d7dc;
    overflow: hidden;
    position: relative;
    aspect-ratio: calc(1 / 0.5625);
    width: 100%;
}

.courses-grid-item-content-card .cover img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity linear 100ms;
    width: 100%;
}

.courses-grid-item-content-card .caption {
    color: #2d2f31;
    white-space: nowrap;
    min-width: 1px;
    width: 100%;
}

.courses-grid-item-content-card .caption .title h3 {
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: .8rem;
}

.courses-grid-item-content-card .caption .author {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: .4rem;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #6a6f73;
    margin-bottom: .8rem;
}

.rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .8rem;
}

.rating .score {
    display: inline-flex;
    align-items: center;
}

.score span {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.4rem;
    margin-right: .4rem;
    color: #4d3105;
}
.score p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    color: #6a6f73;
    margin-left: .4rem;
}

.rating .score .stars {
    display: flex;
}

.rating .score .stars img {
    width: 1.7rem;
    height: 1.7rem;
}

.price {
    align-items: center;
    color: #2d2f31;
    display: flex;
    flex-flow: row wrap;
}

.price span {
    color: #2d2f31;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    line-height: 1;
    padding: .4rem 0;
    margin-right: .8rem;
    white-space: nowrap;
}

.price s {
    font-size: 1.4rem;
    color: #555;
}


/********************************************
    The students are viewing
********************************************/
.viewed-by-students-wrapper {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    margin-top: 4.8rem;
}

.viewed-by-students-title h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 2.4rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.viewed-by-students-content {
    scrollbar-width: none;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    grid-template-rows: repeat(2, 1fr);
}

.viewed-by-students-content .item-wrapper {
    scroll-snap-align: start;
}

.item-wrapper .card {
    display: grid;
    position: relative;
    width: 17.3rem;
    gap: .8rem;
    grid-template-columns: auto 1fr;
    min-width: 22.2rem;
    max-width: 55.2rem;
    height: 100%;
}

.item-wrapper .card .image-wrapper {
    align-self: start;
    background-color: #2d2f31;
    border: 1px solid #d1d7dc;
    overflow: hidden;
    position: relative;
}


.item-wrapper .card .image-wrapper img {
    display: block;
    transition: opacity linear 100ms;
    width: 4.8rem;
    height: 4.8rem;
}

.item-wrapper .card .caption-wrapper {
    color: #2d2f31;
    white-space: nowrap;
    min-width: 1px;
}


.item-wrapper .card .caption-wrapper .title h3 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.4rem;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.item-wrapper .card .caption-wrapper .author {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-bottom: .4rem;
}

.item-wrapper .card .caption-wrapper .author p {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: #6a6f73;
}

.best-seller {
    margin: .8rem 0 .4rem;
}

.best-seller-container {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem .8rem;
}

.best-seller-content {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.2rem;
    letter-spacing: .02rem;
    display: inline-block;
    padding: .4rem .8rem;
    white-space: nowrap;
    background-color: var(--color-yellow-200);
    color: #3d3c0a;
    background-color: #eceb98;
}

/********************************************
    The students are viewing
********************************************/
.main-categories-wrapper {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4.8rem;
    padding: 4.8rem 2.4rem;
}

.main-categories-wrapper h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 2.4rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.main-categories-wrapper ul {
    font-size: inherit;
    font-weight: 400;
    max-width: 60rem;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    margin: -.8rem 0 0 -.8rem;
}

.main-categories-wrapper ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    margin: .8rem 0 0 .8rem;
    display: inline-block;
}

.main-categories-wrapper ul  li a {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    color: var(--color-gray-500);
    background-color: transparent;
    border: 1px solid #2d2f31;
    border-radius: 9999px;
    min-width: 4rem;
}

/********************************************
    Categories
********************************************/
.categories-wrapper {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: #EEE;
}

.categories-title {
    margin-bottom: 2rem;
}

.categories-title h2 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 2.4rem;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.categories-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-content .categories-content-item {
    display: inline-block;
    margin-bottom: 2.4rem;
    width: 50%;
    padding-right: .8rem;
}

.categories-content-item h3 {
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.categories-content .categories-content-item .categories-content-item-list-element {
    margin-top: 2rem;
}

.categories-content .categories-content-item .categories-content-item-list-element a {
    color: #5624d0;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.categories-content .categories-content-item .categories-content-item-list-element p {
    margin-top: .8rem;
    font-size: 1.2rem;
    color: #6a6f73;
}

.transparent-button {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.4rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4rem;
    color: var(--color-gray-500);
    background-color: transparent;
    border: 1px solid #2d2f31;
    width: 100%;
}

/********************************************
    Udemy business
********************************************/
.udemy-business-wrapper {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.udemy-business-wrapper img {
    width: 600px;
    aspect-ratio: auto 600 / 600;
    height: 600px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2.4rem;
}

.udemy-business-wrapper .udemy-business-content {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.udemy-business-wrapper .udemy-business-content img {
    width: 192px;
    aspect-ratio: auto 192 / 32;
    height: 32px;
}

.udemy-business-wrapper .udemy-business-content h3 {
    font-family: 'SuisseWorks';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.012rem;
    max-width: 36em;
    margin-bottom: 1.6rem;
}


.udemy-business-wrapper .udemy-business-content .udemy-business-features-list {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.udemy-business-features-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
}

.udemy-business-features-list ul li .udemy-business-feature  {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.9rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: .4rem 0;
    color: #2d2f31;
    margin-bottom: 1.2rem
}

.udemy-business-features-list ul li .udemy-business-feature img {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    margin-top: 1rem;
    color: #2d2f31;
}

.udemy-business-features-list ul li .udemy-business-feature div {
    flex: 1;
    min-width: 1px;
    min-height: 2.24rem;
    margin-left: 1.6rem;
    font-size: 1.7rem;
    color: black;
}

.udemy-business-wrapper .udemy-business-content .udemy-business-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.udemy-business-buttons .get-udemy-business {
    width: 100%;
    margin: 0 0 .8rem;
}

.udemy-business-buttons .get-udemy-business a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    color: white;
    background-color: #222;
    width: 100%;
}

/********************************************
    Become an instructor
********************************************/
.become-an-instructor-wrapper {
    width: 100%;
    max-width: 134rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}

.become-an-instructor-wrapper .become-an-instructor-content {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;   
}

.become-an-instructor-wrapper .become-an-instructor-content h3 {
    font-family: 'SuisseWorks';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.012rem;
    max-width: 36em;
    margin-bottom: 1.6rem;
    margin-top: 2rem;
}


.become-an-instructor-wrapper .become-an-instructor-content p {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
}

.become-an-instructor-wrapper .become-an-instructor-content .become-an-instructor-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.become-an-instructor-buttons .start-today {
    width: 100%;
    margin: 0 0 .8rem;
}

.become-an-instructor-buttons .start-today a {
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4.8rem;
    color: white;
    background-color: #222;
    width: 100%;
}

/********************************************
    Footer
********************************************/
.footer-wrapper {
    background: #2d2f31;
    border-top: 1px solid #3e4143;
    color: #fff;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.4rem;
}

.footer-wrapper .urls-list .language-button {
    padding: 2.4rem 0;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
}

.footer-wrapper .urls-list .language-button button {
    position: relative;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    height: 4rem;
    color: var(--color-gray-500);
    background-color: transparent;
    border: 1px solid #2d2f31;
    justify-content: flex-start;
    padding: 0 1.6rem;
    min-width: 14rem;
    border-color: #fff;
    color: #fff;
}

.urls-list .language-button button img {
    height: 2.0rem;
    width: 2.0rem;
    margin-right: 1rem;
}

.urls-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
}

.urls-list ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    display: block;
    padding: .4rem 0;
    color: #fff;
}

.copyright {
    margin-top: 2.4rem;
}

.copyright .logo-container img {
    width: 9rem;
    height: 3.5rem;
}

.copyright-caption {
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-top: 1rem;
}